@font-face {
    font-family: "Sensation";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/fonts/Sansation_Light.ttf');
}
@font-face {
    font-family: "Sensation";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/Sansation_Regular.ttf');
}
@font-face {
    font-family: "Sensation";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/Sansation_Bold.ttf');
}