@import "breakpoints.scss";

@mixin sidePaddings {
    padding-left: 20rem;
    padding-right: 20rem;

    @include breakpoint(tablet-landscape) {
        padding-left: 10.8rem;
        padding-right: 10.8rem;
    }

    @include breakpoint(tablet-portrait) {
        padding-left: 5.4rem;
        padding-right: 5.4rem;
    }
}

@mixin slyBoxShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@mixin animate($keyframesName, $duration: 300ms, $delay: 0ms, $fillmode: forwards) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $keyframesName;
    animation-fill-mode: $fillmode;
}

@mixin spinAnimation {
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @include animate(spin, 1s);

    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-iteration-count: infinite;
}

@mixin unselectable() {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    -webkit-tap-highlight-color: transparent;
}
