@import "scss/mixins.scss";
@import "scss/variables.scss";

.contacts {
    width: 100%;
    display: flex;
    gap: 24rem;
    @include sidePaddings;

    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;

    &::before {
        content: "";
        width: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $lighterGrey;
        top: 20%;
        bottom: 20%;
    }

    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        > p {
            font-weight: lighter;
            font-size: 2rem;
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                justify-content: space-between;
                white-space: nowrap;
                gap: 1rem;
            }

            @include breakpoint(tablet-portrait) {
                > span {
                    flex: 2;
                }
                > a {
                    gap: 0;
                    flex: 1;
                }
            }

            @include breakpoint(mobile) {
                > span,
                > a {
                    flex: 1;
                }

                > a {
                    gap: 1rem;
                }
            }
        }

        @include breakpoint(tablet-portrait) {
            gap: 3rem;
            p {
                font-size: 3rem;
            }
        }

        &:last-child {
            .fb,
            .ig,
            .ws {
                display: flex;
                align-items: center;
                gap: 3rem;

                p {
                    font-size: 1.6rem;
                    @include breakpoint(tablet-portrait) {
                        font-size: 3rem;
                    }
                }

                &::before {
                    content: "";
                    width: 2.8rem;
                    height: 2.8rem;
                    background-size: cover;

                    @include breakpoint(tablet-portrait) {
                        width: 5rem;
                        height: 5rem;
                    }
                }

                @include breakpoint(tablet-portrait) {
                    justify-content: space-between;
                }
            }

            .fb {
                p {
                    color: #17a8fd;
                }

                &::before {
                    background-image: url("/assets/icons/fb.svg");
                }
            }

            .ig {
                p {
                    color: #c03b96;
                }

                &::before {
                    background-image: url("/assets/icons/ig.svg");
                }
            }

            .ws {
                p {
                    color: #3fc350;
                }

                &::before {
                    background-image: url("/assets/icons/ws.svg");
                }
            }
        }
    }

    @include breakpoint(tablet-portrait) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: column;
        gap: 3rem;

        &::before {
            display: none;
        }
    }
}
